.navbar-transparent {
    font-family: 'poppins', sans-serif;
    font-size: 0, 75rem;
    background-color: transparent;
}

.nav-link {
    color: white !important;
}

.navbar .nav-link:hover {
    color: #94d7f2 !important;
}

.navbar .nav-link.active {
    color: #94d7f2 !important;
}


.navbar-brand {

    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'new amsterdam', sans-serif;
    font-size: 2rem !important;
    background: linear-gradient(90deg,
            #70A8BF,
            #9ADBFF);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;

}


html,
body {
    font-family: 'poppins', sans-serif; 


    background: linear-gradient(180deg,
            #0029C0 0%,
            #01197b 100%);
}





.register-page{

    min-height: 100vh;

    padding: 120px 0;
    display: flex;
}

.register-title{

    color: white;

    font-size: 4rem;

    margin-bottom: 60px;

    font-family: 'new amsterdam', sans-serif;
}

.register-box{

    background: rgba(255,255,255,0.05);

    border: 1px solid rgba(255,255,255,0.1);

    border-radius: 30px;

    padding: 50px;
}

.form-title{

    text-align: center;

    color: white;

    margin-bottom: 40px;

    font-family: 'new amsterdam', sans-serif;
}

.custom-input{

    background: transparent;

    border: 2px solid #7dd3fc;

    border-radius: 18px;

    height: 60px;

    color: white;

    padding: 0 20px;
}

.custom-input::placeholder{

    color: #b6dfff;
}

.custom-input:focus{

    background: transparent;

    color: white;

    border-color: #8de0ff;

    box-shadow: 0 0 15px rgba(141,224,255,0.4);
}

.register-btn{

    background: linear-gradient(
        90deg,
        #8de0ff,
        #6ec6ff
    );

    border: none;

    border-radius: 18px;

    padding: 14px 40px;

    color: #0b2bd7;

    font-weight: bold;
}   

.register-btn:hover{

    transform: translateY(-3px);

    transition: 0.3s;
}

.input-wrapper{

    position: relative;
}

.custom-input{

    height: 75px;

    border-radius: 22px;

    padding-right: 60px;

    background: transparent;

    border: 2px solid #8de0ff;

    color: white;
}

.custom-input::placeholder{

    color: rgba(255,255,255,0.7);
}

.input-icon{

    position: absolute;

    right: 25px;

    top: 50%;

    transform: translateY(-50%);

    color: #8de0ff;

    font-size: 1.3rem;
}

/* ÍCONE DO CALENDÁRIO */
input[type="date"]::-webkit-calendar-picker-indicator {

    filter:
    invert(89%)
    sepia(31%)
    saturate(514%)
    hue-rotate(165deg);

    cursor: pointer;
}

input[type="date"]{

    color: white;

    padding-right: 22px;

    appearance: none;

    -webkit-appearance: none;
}

input[type="date"]::-webkit-datetime-edit{

    color: white;
}