header {
    background: linear-gradient(to bottom, var(--azul-escuro),
            #0027B5);
}

html,
body {
    background: linear-gradient(to bottom,
            #0027B5 26%,
            var(--background) 55%);
}

main {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-title {
    color: white;
    font-size: 2rem;
    font-family: 'New Amsterdam', sans-serif;
    margin-bottom: 2rem;
}

.register-box {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 3.125rem;
}

.form-title {
    text-align: center;
    color: white;
    margin-bottom: 2rem;
    font-family: 'New Amsterdam', sans-serif;
}

.custom-input {
    background: transparent !important;
    border: 2px solid var(--azul-claro) !important;
    border-radius: 20px !important;
    height: 4rem;
    color: var(--azul-claro) !important;
    padding: 0 1.2rem;
}

.custom-input::placeholder {
    color: var(--azul-claro) !important;
}

.input-wrapper {
    position: relative;
}

.input-icon {

    position: absolute;

    right: 25px;

    top: 50%;

    transform: translateY(-50%);

    color: var(--azul-claro);

    font-size: 1.3rem;
}

/* ÍCONE DO CALENDÁRIO */
input[type="date"]::-webkit-calendar-picker-indicator {

    filter:
        invert(89%) sepia(31%) saturate(514%) hue-rotate(165deg);

    cursor: pointer;
}

input[type="date"] {

    color: var(--azul-claro) !important;

    padding-right: 1.3rem;

    appearance: none;

    -webkit-appearance: none;
}

input[type="date"]::-webkit-datetime-edit {

    color: var(--azul-claro) !important;
}