body {
    min-height: 100vh;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

header {
    background: linear-gradient(to bottom, var(--azul-escuro) 24%,
            transparent);
}

main {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-content {
    width: 100vw;
}

.game-1 {
    background-image:
        linear-gradient(to bottom, transparent 57%, var(--background)),
        url('../images/banners/lenda-do-heroi.png'),
        linear-gradient(to bottom, #0029c0, var(--background))
}

.game-2 {
    background-image:
        linear-gradient(to bottom, transparent 57%, var(--background)),
        url('../images/banners/monica.svg'),
        linear-gradient(to bottom, #0029c0, var(--background))
}

.game-3 {
    background-image:
        linear-gradient(to bottom, transparent 57%, var(--background)),
        url('../images/banners/momodora.svg'),
        linear-gradient(to bottom, #0029c0, var(--background))
}

.game-4 {
    background-image:
        linear-gradient(to bottom, transparent 57%, var(--background)),
        url('../images/banners/mulletmadjack.svg'),
        linear-gradient(to bottom, #0029c0, var(--background))
}

.game-5 {
    background-image:
        linear-gradient(to bottom, transparent 57%, var(--background)),
        url('../images/banners/dandara.svg'),
        linear-gradient(to bottom, #0029c0, var(--background))
}

.game-6 {
    background-image:
        linear-gradient(to bottom, transparent 57%, var(--background)),
        url('../images/banners/blazing.svg'),
        linear-gradient(to bottom, #0029c0, var(--background))
}

.image-container {
    width: 50vw !important;
    margin: 0 !important;
}

/* WRAPPER DA IMAGEM */
.banner-wrapper {
    box-shadow:
        0 20px 60px rgba(0, 0, 0, 0.45),
        0 0 40px rgba(141, 224, 255, 0.08);
    background-color: #353131f5;
    border-radius: 20px;
}

.banner-wrapper img {
    filter: contrast(1.3) saturate(1.2);
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* CAIXA DE INFO */
.game-info-box {

    display: flex;

    flex-direction: column;

    align-items: end;

    text-align: end;
    gap: 1rem;
}

/* TÍTULO */
.game-title {

    font-family: 'new amsterdam', sans-serif;

    color: white;

    font-size: 3rem;
}

/* TAGS */
.game-tags {
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}

/* BOTÕES */
.game-buttons {

    display: flex;

    align-items: center;

    gap: 1.2rem;
}

/* FAVORITO */
.favorite p {
    font-size: 1.2rem;
    margin-bottom: 0
}

/* RESPONSIVIDADE */
@media(max-width: 992px) {

    .game-content {

        padding-top: 100px;
    }

    .game-title {

        font-size: 3.8rem;
    }

    .game-info-box {

        margin-top: 40px;
    }
}


@media(max-width: 768px) {

    .game-title {

        font-size: 3rem;
    }

    .game-buttons {

        flex-direction: column;

        width: 100%;
    }

    .buy-btn {

        width: 100%;
    }

    .favorite-btn {

        width: 100%;
    }

    .navbar-brand {

        font-size: 1.7rem;
    }
}