/************* hero************/
.hero {
    height: calc(100dvh - 5rem);
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url('../images/Bg-hero.jpeg') no-repeat center center;
    background-size: cover;
    z-index: -1;
    opacity: 0.4;
}

.texts-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.texts-group>h2 {
    font-size: clamp(1.5rem, 4vw, 3rem);
    text-align: center;
    text-wrap: balance;
}

.texts-group>p {
    font-size: clamp(1rem, 2vw, 1.3rem);
    text-align: center;
    text-wrap: balance;
}

.button-group {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btn {
    border-radius: 20px;
    padding-block: .5rem;
    padding-inline: 3rem;
    text-transform: uppercase;
    font-weight: 500;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
}

.btn:hover {
    cursor: pointer;
    background-color: var(--primary-btn-hover);
    color: white;
    transition: .3s ease-in-out;
    border: none;
}

.access-btn {
    background-color: var(--primary-btn);
    color: #0A192F;
}

.sign-in-btn {
    border: 1px solid var(--primary-btn);
    color: var(--primary-btn);
}

/*********** fim hero *********/

/************ cards*********** */

.games {
    margin-block: 7rem;
    margin-inline: 4rem;
}

.section-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-light);
    margin-bottom: 1rem;
}

.grid-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}

.card {
    border-radius: 20px;
    transition: .5s;
    position: relative;
    animation: viewAnimation both;
    animation-timeline: view(100% 20%);
}

.card img {
    width: 100%;
    border-radius: 20px;
    transition: .5s;
}


.game-card-info {
    background-image: linear-gradient(to bottom, rgba(32, 79, 149, 0.81), rgba(21, 52, 98, 0.905) 17%, rgba(10, 25, 47, 1) 41%);
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    text-align: center;
    width: 100%;
    padding-block: 1rem;
}

.bi-star-fill {
    color: yellow;
}

.game-card-title {
    font-weight: bold;
    font-size: 1.5rem;
}

.game-card-subtitle {
    font-weight: bold;
    font-size: .8rem;
}

.card-footer {
    display: flex;
    justify-content: space-around;
}

.card-footer p {
    font-size: 1rem;
    font-weight: bold;
}

.card-footer button {
    border: none;
    background: none;
    color: var(--color-light);
    cursor: pointer;
}

/* animando o card */

@keyframes viewAnimation {
    from {
        opacity: 0;
        scale: .5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

/************ cards*********** */

/* mini responsivo */
@media(width<=1024px) {
    .grid-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(width<=650px) {

    .grid-cards {
        grid-template-columns: repeat 1fr;
    }
}