/* variáveis */

:root {
    --font-title: "New Amsterdam", sans-serif;
    --font-text: "Poppins", sans-serif;
    --color-light: #f4f4f4;
    --color-black: #0A192F;
    --color-gray: #8F8A8A;
    --color-blue: #204F95;
    --color-green: #016D55;
    --primary-btn: #9AC3FF;
    --primary-btn-hover: #42659A;
    --radius: 20px;
}


/* reset css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-text) !important;
}

html {
    scroll-behavior: smooth;
}

/* fonte dos titulos */
h1,
h2,
h3,
h4 {
    font-family: var(--font-title) !important;
    font-weight: 400;
}

/* retirando o sublinhado de ancoragem/links */
a {
    text-decoration: none;
}

/* retirando decoracao de lista */
ul,
ol {
    list-style: none;
}

.color-blue {
    color: var(--color-blue)
}

.nav-page {
    background-color: var(--color-black);
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 5rem;
}

.nav-page h1 {
    color: var(--color-light);
    display: flex;
}

.nav-title-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* header do menu */
.nav-menu {
    display: flex;
    gap: 1.5rem;
}

/* opcoes menu */
.item-menu {
    color: var(--primary-btn);
    font-size: 20px;
}

.item-menu:hover {
    color: var(--primary-btn-hover);
    cursor: pointer;

}

/************* hero************/
.hero {
    background: url('../images/Bg-hero.svg') no-repeat center center;
    background-size: cover;
    height: calc(100dvh - 5rem);
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.texts-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.texts-group>h2 {
    font-size: clamp(1.5rem, 4vw, 3rem);
    text-align: center;
    text-wrap: balance;
}

.texts-group>p {
    font-size: clamp(1rem, 2vw, 1.3rem);
    text-align: center;
    text-wrap: balance;
}

.button-group {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btn {
    border-radius: 20px;
    padding-block: .5rem;
    padding-inline: 3rem;
    text-transform: uppercase;
    font-weight: 500;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
}

.btn:hover {
    cursor: pointer;
    background-color: var(--primary-btn-hover);
    color: white;
    transition: .3s ease-in-out;
}

.access-btn {
    background-color: var(--primary-btn);
    color: #0A192F;
}

.sign-in-btn {
    border: 1px solid var(--primary-btn);
    color: var(--primary-btn);
}

/*********** fim hero *********/

/************ cards*********** */

.games {
    background-color: var(--color-gray);
    padding: 20px 50px 50px;
}

.games-title {
    font-size: 8vw;
    color: transparent;
    -webkit-text-stroke: 1px var(--color-blue-300);
    font-weight: 800;
}

.grid-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    border-radius: 8px;
    transition: .5s;
    overflow: hidden;
    position: relative;
    animation: viewAnimation both;
    animation-timeline: view(70% 20%);
}

.card:hover {
    box-shadow: 1px 1px 10px var(--color-blue-300);
}

.card img {
    width: 100%;
    border-radius: 8px;
    opacity: .7;
    transition: .5s;
}

.card:hover img {
    opacity: 1;
    scale: 1.1;
}

.game-card-info {
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    width: 100%;
}

h3 {
    font-size: 30px;
}

.game-card-info:hover:hover h3,
.bi-star-fill {
    color: var(--bg-yellow);
}

.card-footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-inline: 10px;
}

/* animando o card */

@keyframes viewAnimation {
    from {
        opacity: 0;
        scale: .5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

/************ cards*********** */

/* mini responsivo */
@media(width<=1024px) {
    .grid-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(width<=650px) {
    .nav-page h1 {
        font-size: 22px;
    }

    .grid-cards {
        grid-template-columns: repeat 1fr;
    }
}



/* Variáveis  */
:root {
    --font-body: Quicksand;
    --color-light: rgb(255, 255, 255);
    --color-blue-50: rgb(133, 144, 172);
    --color-blue-100: rgb(50, 60, 85);
    --color-gray: rgb(25, 52, 121);
    --spacing-1: 10px;
    --spacing-3: 30px;
    --radius: 5px;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-body);
}

header,
main {
    width: 95%;
    margin: var(--spacing-1) auto;
    color: var(--color-gray);
}

.form-search {
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
    margin-top: var(--spacing-3);
}

.text-search {
    width: 30%;
    height: 50px;
    border: 1px solid var(--color-blue-100);
}

.btn-form {
    width: 100px;
    height: 50px;
    background-color: var(--color-blue-100);
    border: none;
    color: var(--color-light);
    border-radius: var(--radius);
    font-weight: 800;
    cursor: pointer;
}

.btn-form:hover {
    background-color: var(--color-gray);
}

fieldset {
    padding: var(--spacing-1);
    margin: 20px 0;
    border-radius: var(--radius);
}

legend {
    padding: 0 5px;
    font-weight: 800;
}

.form-campos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

.form-campos div {
    display: flex;
    flex-direction: column;
    margin-block: 5px;
}

.span-2 {
    grid-column: span 2;
}

input,
select {
    width: 100%;
    color: var(--color-blue-100);
    border: 1px solid var(--color-blue-100);
    border-radius: var(--radius);
    height: 3rem;
    padding: var(--spacing-1);
    font-size: 1rem;
    outline: 0;
}

select {
    appearance: none;
    --webkit-appearence: none;
    --moz-appearence: none;
    cursor: pointer;
}

/* arrumando ícones */
.form-field {
    position: relative;
}

.icon {
    position: absolute;
    right: var(--spacing-1);
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-blue-50);
    pointer-events: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
}

.btn-container .btn-form {
    margin-top: var(--spacing-1);
    min-width: 20%;
    font-size: 18px;
}

@media(width <=800px) {
    .text-search {
        width: 100%;
    }

    .form-campos {
        grid-template-columns: 1fr;
    }

    .span-2 {
        grid-column: span 1;
    }

    .btn-container .btn-form {
        width: 100%;
    }
}
